/* Enable Scrolling */
body {
  overflow: scroll !important;
}

/* Show Hidden Text */
.subscriber-only {
  display: block !important;
}

/* Hide Modals */
.modal-backdrop,
.subscription-required,
#subscription-modal {
  display: none !important;
}

/* Get Rid of early paragraph fade */
.redacted-overlay {
  background: none !important;
}

/* Remove Lower log in/sign up banner from E-Edition */
#eedition-subscription {
  display: none !important;
}
